.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    &_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25vw;
        height: 14vh;
        text-align: center;
        &_add {
            // height: 12vh;
            background-color: $black;
            color: $yellow;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
        }
        &_icon {
            color: $yellow;
        }
    }
    &_section {
        margin: 0.1rem auto;
        padding: 0.1rem 1rem;
        width: 85%;
        height: 30vh;
        background-color: $yellow;
        &_main {
            display: grid;
            align-items: center;
            align-content: center;
            grid-template-columns: repeat(auto-fill, min-max(25%, 1fr));
            grid-auto-flow: column;
            grid-auto-columns: minmax(25%, 1fr);
            column-gap: 0.5rem;
            width: 90%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        }
        &_title {
            height: 40%;
        }
    }
}